.checkout-container {
    display: flex;
    margin: 20px;
}

.left {
    margin-right: 20px;
    flex: 2;
}

.left img {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.left h2 {
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    width: 80%;
}

.right {
    flex: 1;
}

.checkout-products-container {
    margin-top: 20px;
}