.subtotal {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #aaa;
    background-color: #ddd;
    border-radius: 10px;
}

.subtotal button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 15px;
    background-color: rgb(231, 165, 85);
    border: 1px solid rgb(190, 136, 70);
    outline: 1px solid rgb(179, 117, 42);
}